.menu_novid {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    text-align: center;
    background: rgb(217, 217, 216,0.5);

    margin-left: 5%;

}

.flex_novid {
    display: flex;
    flex-direction: row;
    

}

.img_novidade{
    min-width: 250px;
    height: 250px;
    margin-left: 5%;
}

.text_product{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}

.sob_categoria{
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    color: black;
    font-size: 13px;
    text-align: justify;
    text-transform: uppercase;
}


.preco_product{
    background: gray;
    width: 70px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}


.product_space{
    margin: 40px;
    flex-basis: 20%;
}

.product_box{
 position: relative;
 width: 150px;

}