.menu_novid {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    text-align: center;
    background: rgb(217, 217, 216,0.5);

    margin-left: 5%;

}

.flex_novid {
    display: flex;
    flex-direction: row;
    

}

.img_novidade{
    min-width: 250px;
    height: 250px;
    margin-left: 5%;
    max-width: 300px;
}

.text_product {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1.2px 1.4px 0 rgba(0, 0, 0, 0.4); /* distância-x, distância-y, desfoque, cor */
}


.sob_categoria{
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    color: black;
    font-size: 13px;
    text-align: justify;
    text-transform: capitalize;
}


.preco_product {
    display: inline;
    vertical-align: middle;
    background: #C1C1C1;
    white-space: nowrap; /* Impede que o conteúdo quebre em várias linhas */
    font-family: 'Roboto', sans-serif;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    
}

.product_space{
    position: relative;
    margin: 40px;
    flex-basis: 20%;
  
}

.product_box{
 position: relative;
 width: 150px;

}