@media (max-width: 600px) {
    body {
        background: purple;
    }

    logo {
        flex-basis: 10%;
        justify-self: flex-start;
    }

    .logo img {
        max-width: 250px;
        height: auto;
        margin-left: 33px;
        position: relative;
        top: 33px;
    }

    .header {
        flex-direction: column;
       
        height: auto;
        
    }

    .center-links {
        margin-top: 20px;
    }

    ul {
        flex-direction: row;
       
    }

    li a {
        margin: 10px 0;
        
    }

    .frasemotivac_text {
        text-align: center;
        color: red;
        font-size: 3.2rem;
        white-space: normal;
        position: relative;
        top: 150px;
        z-index: 3;

    }

    .Author_frase {
        color: purple;
        position: relative;
        top: 150px;
        z-index: 3;
    }

    .pesquisar {
        display: flex;
        align-items: center;
        position: relative;
        width: 300px;
        flex-wrap: nowrap;
        margin-top: 20px;
       
    }

    .pesquisar input {
        width: 100%;
        height: 40px;
    }

    .icons {
        margin: 20px 0;
       
    }

    .img_nanismo {

        width: 30%;
        position: relative;
        right: 0;
        height: 100%;
        top:150px
    
    }
    
    .img_mulheres {
        left: 30%;
        width: 40%;
        height: 60%;
        position: absolute;
        top:150px
    }
    
    .img_mulher_poderosa {
        height: 100%;
    
        width: 30%;
        position: absolute;
        right: 0;
        top:150px
    }

    .medidas {
        background-color: black;
        width: 50%;
    }
    
    
    .tod_medidas1 {
    
        font-family: Agrandir;
        font-size: 123%;
        background-color: black;
        text-align: center;
        color: white;
    }
    
    .tod_medidas2 {
        display: flex;
        font-family: Migra ExtraLight;
        font-size: 120%;
        position: relative;
        text-align: center;
        color: white;
    }
    

    .download_img {
        width: 100px;
        height: 100px;
        position: relative;
        top: 25%;
        left: 25%;
        margin-right: 100px;
        transform: translate(-50%, 0);
        z-index: 2;
    }
    
    .download_blackground {
        background-image: linear-gradient(90deg, #ffe9e4, #5b5b4c);
        width: 60%;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 1;
    }
    

    .carousel {
        position: relative;
    
        overflow: hidden;
        text-align: center;
        max-height: 30%;
    }
    
    .carousel-images img {
        max-width: 70%;
        height: 700px;
        display: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top:140px;
    }
    
    .carousel-images img.active {
        display: block;
    }
    
    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        padding: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .carousel-prev {
    
        left: 10%;
        top: 39vh;
        transform: rotate(180deg);
    }
    
    .carousel-next {
        right: 10%;
        top: 36vh;
       
    
    }
    
    .carousel-next img {
    
        max-width: 50%;
      
    }
    
    .carousel-prev img {
    
        max-width: 50%;
    }
    
    
    
    
    .carousel-dots {
        text-align: center;
        margin-top: 10px;
    }
    
    .carousel-dots .dot {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        background-color: #A57042;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .carousel-dots .dot.active {
        background-color: #202020;
    }

    .background_carrosel {
        background: #2566AF;
        width: 33%;
        height: 15vh;
        position: relative;
        left: 35%;
        bottom: 15vh;
        text-align: center;
        font-family: 'Migra Extralight', sans-serif;
        font-size: 3vh;
        padding: 5vh;
        color: #E6A540;
        -webkit-text-stroke: 1px #a51d20;
    
    }

    image-container {
        text-align: center;
        position: relative;
        height: 600px;
    }
    
    .overlay-button {
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        border: none;
        padding: 20px;
        width: 440px;
        height: 118px;
        right: 0;
        bottom: 10%;
        transform: translate(0, -50%);
        color: white;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }
    
    .overlay-button img {
        width: 90px;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .top-right-image {
        position: absolute;
        top: 7%;
        right: 7%;
        background-image: url(../img/new2.jpg);
        height: 359px;
        width: 255px;
        background-size: cover;
    }
    
    .image-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Anton', sans-serif;
    }
    
    .text-left {
        position: absolute;
        top: 40%;
        left: 0%;
        transform: translate(0, -50%);
        font-size: 60px;
        color: white;
        font-family: 'Anton', sans-serif;
        margin-left: 10%;
    }
    
    .bottom-left-button {
        position: absolute;
        bottom: 10%;
        left: 5%;
        background-color: #202020;
        padding: 20px;
        border: none;
        color: white;
    }
    
    .bottom-left-button:hover {
        
        background-color: white;
        color: black;
    }
    
    .bottom-right-button {
        position: absolute;
        bottom: 40px;
        right: 90px;
        background: none;
        padding: 20px;
        border: solid 1px white;
        border-radius: 30px;
        color: white;
    }
    
    .bottom-right-button:hover {
       
        border: solid 1px black;
        color: black;
    }
    
}



@media (min-width: 600px) {
    body {
        background: gray;
    }

    logo {
        flex-basis: 10%;
        justify-self: flex-start;
    }

    .logo img {
        max-width: 250px;
        height: auto;
        margin-left: 33px;
        position: relative;
        top: 33px;
    }

    .header {
        flex-direction: column;
       
        height: auto;
        
    }

    .center-links {
        margin-top: 20px;
    }

    ul {
        flex-direction: row;
       
    }

    li a {
        margin: 10px 0;
        
    }

    .frasemotivac_text {
        text-align: center;
        color: red;
        font-size: 3.2rem;
        white-space: normal;
        position: relative;
        top: 150px;
        z-index: 3;

    }

    .Author_frase {
        color: purple;
        position: relative;
        top: 150px;
        z-index: 3;
    }

    .pesquisar {
        display: flex;
        align-items: center;
        position: relative;
        width: 300px;
        flex-wrap: nowrap;
        margin-top: 20px;
       
    }

    .pesquisar input {
        width: 100%;
        height: 40px;
    }

    .icons {
        margin: 20px 0;
       
    }

    .img_nanismo {

        width: 30%;
        position: relative;
        right: 0;
        height: 100%;
        top:150px
    
    }
    
    .img_mulheres {
        left: 30%;
        width: 40%;
        height: 60%;
        position: absolute;
        top:150px
    }
    
    .img_mulher_poderosa {
        height: 100%;
    
        width: 30%;
        position: absolute;
        right: 0;
        top:150px
    }

    .medidas {
        background-color: black;
        width: 50%;
    }
    
    
    .tod_medidas1 {
    
        font-family: Agrandir;
        font-size: 123%;
        background-color: black;
        text-align: center;
        color: white;
    }
    
    .tod_medidas2 {
        display: flex;
        font-family: Migra ExtraLight;
        font-size: 120%;
        position: relative;
        text-align: center;
        color: white;
    }
    

    .download_img {
        width: 100px;
        height: 100px;
        position: relative;
        top: 25%;
        left: 25%;
        margin-right: 100px;
        transform: translate(-50%, 0);
        z-index: 2;
    }
    
    .download_blackground {
        background-image: linear-gradient(90deg, #ffe9e4, #5b5b4c);
        width: 60%;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 1;
    }
    

    .carousel {
        position: relative;
    
        overflow: hidden;
        text-align: center;
        max-height: 30%;
    }
    
    .carousel-images img {
        max-width: 70%;
        height: 700px;
        display: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top:140px;
    }
    
    .carousel-images img.active {
        display: block;
    }
    
    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        padding: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .carousel-prev {
    
        left: 10%;
        top: 39vh;
        transform: rotate(180deg);
    }
    
    .carousel-next {
        right: 10%;
        top: 36vh;
       
    
    }
    
    .carousel-next img {
    
        max-width: 50%;
      
    }
    
    .carousel-prev img {
    
        max-width: 50%;
    }
    
    
    
    
    .carousel-dots {
        text-align: center;
        margin-top: 10px;
    }
    
    .carousel-dots .dot {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        background-color: #A57042;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .carousel-dots .dot.active {
        background-color: #202020;
    }

    .background_carrosel {
        background: #2566AF;
        width: 33%;
        height: 15vh;
        position: relative;
        left: 35%;
        bottom: 15vh;
        text-align: center;
        font-family: 'Migra Extralight', sans-serif;
        font-size: 3vh;
        padding: 5vh;
        color: #E6A540;
        -webkit-text-stroke: 1px #a51d20;
    
    }

    image-container {
        text-align: center;
        position: relative;
        height: 600px;
    }
    
    .overlay-button {
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        border: none;
        padding: 20px;
        width: 440px;
        height: 118px;
        right: 0;
        bottom: 10%;
        transform: translate(0, -50%);
        color: white;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }
    
    .overlay-button img {
        width: 90px;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .top-right-image {
        position: absolute;
        top: 7%;
        right: 7%;
        background-image: url(../img/new2.jpg);
        height: 359px;
        width: 255px;
        background-size: cover;
    }
    
    .image-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Anton', sans-serif;
    }
    
    .text-left {
        position: absolute;
        top: 40%;
        left: 0%;
        transform: translate(0, -50%);
        font-size: 60px;
        color: white;
        font-family: 'Anton', sans-serif;
        margin-left: 10%;
    }
    
    .bottom-left-button {
        position: absolute;
        bottom: 10%;
        left: 5%;
        background-color: #202020;
        padding: 20px;
        border: none;
        color: white;
    }
    
    .bottom-left-button:hover {
        
        background-color: white;
        color: black;
    }
    
    .bottom-right-button {
        position: absolute;
        bottom: 40px;
        right: 90px;
        background: none;
        padding: 20px;
        border: solid 1px white;
        border-radius: 30px;
        color: white;
    }
    
    .bottom-right-button:hover {
       
        border: solid 1px black;
        color: black;
    }
    
}

@media (min-width: 768px) {
    body {
        background: blue;
    }


    logo {
        flex-basis: 10%;
        justify-self: flex-start;
    }

    .logo img {
        max-width: 250px;
        height: auto;
        margin-left: 33px;
        position: relative;
        top: 33px;
    }

    .header {
        flex-direction: column;
       
        height: auto;
        
    }

    .center-links {
        margin-top: 20px;
    }

    ul {
        flex-direction: row;
       
    }

    li a {
        margin: 10px 0;
        
    }

    .frasemotivac_text {
        text-align: center;
        color: red;
        font-size: 3.2rem;
        white-space: normal;
        position: relative;
        top: 150px;
        z-index: 3;

    }

    .Author_frase {
        color: purple;
        position: relative;
        top: 150px;
        z-index: 3;
    }

    .pesquisar {
        display: flex;
        align-items: center;
        position: relative;
        width: 300px;
        flex-wrap: nowrap;
        margin-top: 20px;
       
    }

    .pesquisar input {
        width: 100%;
        height: 40px;
    }

    .icons {
        margin: 20px 0;
       
    }

    .img_nanismo {

        width: 30%;
        position: relative;
        right: 0;
        height: 100%;
        top:150px
    
    }
    
    .img_mulheres {
        left: 30%;
        width: 40%;
        height: 60%;
        position: absolute;
        top:150px
    }
    
    .img_mulher_poderosa {
        height: 100%;
    
        width: 30%;
        position: absolute;
        right: 0;
        top:150px
    }

    .medidas {
        background-color: black;
        width: 50%;
    }
    
    
    .tod_medidas1 {
    
        font-family: Agrandir;
        font-size: 123%;
        background-color: black;
        text-align: center;
        color: white;
    }
    
    .tod_medidas2 {
        display: flex;
        font-family: Migra ExtraLight;
        font-size: 120%;
        position: relative;
        text-align: center;
        color: white;
    }
    

    .download_img {
        width: 100px;
        height: 100px;
        position: relative;
        top: 25%;
        left: 25%;
        margin-right: 100px;
        transform: translate(-50%, 0);
        z-index: 2;
    }
    
    .download_blackground {
        background-image: linear-gradient(90deg, #ffe9e4, #5b5b4c);
        width: 60%;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 1;
    }
    

    .carousel {
        position: relative;
    
        overflow: hidden;
        text-align: center;
        max-height: 30%;
    }
    
    .carousel-images img {
        max-width: 70%;
        height: 700px;
        display: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top:140px;
    }
    
    .carousel-images img.active {
        display: block;
    }
    
    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        padding: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .carousel-prev {
    
        left: 10%;
        top: 39vh;
        transform: rotate(180deg);
    }
    
    .carousel-next {
        right: 10%;
        top: 36vh;
       
    
    }
    
    .carousel-next img {
    
        max-width: 50%;
      
    }
    
    .carousel-prev img {
    
        max-width: 50%;
    }
    
    
    
    
    .carousel-dots {
        text-align: center;
        margin-top: 10px;
    }
    
    .carousel-dots .dot {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        background-color: #A57042;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .carousel-dots .dot.active {
        background-color: #202020;
    }

    .background_carrosel {
        background: #2566AF;
        width: 33%;
        height: 15vh;
        position: relative;
        left: 35%;
        bottom: 15vh;
        text-align: center;
        font-family: 'Migra Extralight', sans-serif;
        font-size: 3vh;
        padding: 5vh;
        color: #E6A540;
        -webkit-text-stroke: 1px #a51d20;
    
    }

    image-container {
        text-align: center;
        position: relative;
        height: 600px;
    }
    
    .overlay-button {
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        border: none;
        padding: 20px;
        width: 440px;
        height: 118px;
        right: 0;
        bottom: 10%;
        transform: translate(0, -50%);
        color: white;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }
    
    .overlay-button img {
        width: 90px;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .top-right-image {
        position: absolute;
        top: 7%;
        right: 7%;
        background-image: url(../img/new2.jpg);
        height: 359px;
        width: 255px;
        background-size: cover;
    }
    
    .image-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Anton', sans-serif;
    }
    
    .text-left {
        position: absolute;
        top: 40%;
        left: 0%;
        transform: translate(0, -50%);
        font-size: 60px;
        color: white;
        font-family: 'Anton', sans-serif;
        margin-left: 10%;
    }
    
    .bottom-left-button {
        position: absolute;
        bottom: 10%;
        left: 5%;
        background-color: #202020;
        padding: 20px;
        border: none;
        color: white;
    }
    
    .bottom-left-button:hover {
        
        background-color: white;
        color: black;
    }
    
    .bottom-right-button {
        position: absolute;
        bottom: 40px;
        right: 90px;
        background: none;
        padding: 20px;
        border: solid 1px white;
        border-radius: 30px;
        color: white;
    }
    
    .bottom-right-button:hover {
       
        border: solid 1px black;
        color: black;
    }
    
}


@media (min-width: 992px) {
    body {
        background: orange;
    }
}

@media (min-width: 1200px) {
    body{background-image: linear-gradient(90deg, #ffe9e4, #929280);
    overflow-x: hidden;}

    logo {
        flex-basis: 10%;
        justify-self: flex-start;
    }

    .logo img {
        max-width: 250px;
        height: auto;
        margin-left: 33px;
        position: relative;
        top: 33px;
    }

    .header {
        flex-direction: column;
       
        height: auto;
        
    }

    .center-links {
        margin-top: 20px;
    }

    ul {
        flex-direction: row;
       
    }

    li a {
        margin: 10px ;
        
    }

    .frasemotivac_text {
        text-align: center;
        color: white;
        font-size: 3.2rem;
        white-space: normal;
        position: relative;
        top: 150px;
        z-index: 3;

    }

    .Author_frase {
        color: white;
        position: relative;
        top: 150px;
        z-index: 3;
    }

    .pesquisar {
        display: flex;
        align-items: center;
        position: relative;
        width: 300px;
        flex-wrap: nowrap;
        margin-top: 20px;
       
    }

    .pesquisar input {
        width: 100%;
        height: 40px;
    }

    .icons {
        margin: 20px 0;
       
    }

    .img_nanismo {

        width: 30%;
        position: relative;
        right: 0;
        height: 100%;
        top:150px
    
    }
    
    .img_mulheres {
        left: 30%;
        width: 40%;
        height: 60%;
        position: absolute;
        top:150px
    }
    
    .img_mulher_poderosa {
        height: 100%;
    
        width: 30%;
        position: absolute;
        right: 0;
        top:150px
    }

    .medidas {
        background-color: black;
        width: 50%;
        height: 163%;
    }
    
    
    .tod_medidas1 {
    
        font-family: Agrandir;
        font-size: 123%;
        text-align: center;
        color: white;
    }
    
    .tod_medidas2 {
        display: flex;
        font-family: Migra ExtraLight;
        font-size: 120%;
        position: relative;
        text-align: center;
        color: white;
    }
    

    .download_img {
        width: 100px;
        height: 100px;
        position: relative;
        top: 25%;
        left: 25%;
        margin-right: 100px;
        transform: translate(-50%, 0);
        z-index: 2;
    }
    
    .download_blackground {
        background-image: linear-gradient(90deg, #ffe9e4, #5b5b4c);
        width: 50%;
        height: 163%;
        position: absolute;
        right: 0;
        z-index: 1;
    }
    

    .carousel {
        position: relative;
    
        overflow: hidden;
        text-align: center;
        max-height: 30%;
    }
    
    .carousel-images img {
        max-width: 80%;
        height: 700px;
        display: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top:140px;
    }
    
    .carousel-images img.active {
        display: block;
    }
    
    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        padding: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .carousel-prev {
    
        left: 10%;
        top: 72vh;
        transform: rotate(180deg);
    }
    
    .carousel-next {
        right: 10%;
        top: 55vh;
        transform: rotate(0deg);
       
    
    }
    
    .carousel-next img {
    
        max-width: 50%;
      
    }
    
    .carousel-prev img {
    
        max-width: 50%;
    }
    
    
    
    
    .carousel-dots {
        text-align: center;
        margin-top: 10px;
    }
    
    .carousel-dots .dot {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        background-color: #A57042;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .carousel-dots .dot.active {
        background-color: #202020;
    }

    .background_carrosel {
        background: #2566AF;
        width: 33%;
        height: 15vh;
        position: relative;
        left: 35%;
        bottom: 15vh;
        text-align: center;
        font-family: 'Migra Extralight', sans-serif;
        font-size: 4vh;
        padding: 5vh;
        color: #E6A540;
        -webkit-text-stroke: 1px #a51d20;
    
    }

    image-container {
        text-align: center;
        position: relative;
        height: 600px;
    }
    
    .overlay-button {
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        border: none;
        padding: 20px;
        width: 440px;
        height: 118px;
        right: 0;
        bottom: 10%;
        transform: translate(0, -50%);
        color: white;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }
    
    .overlay-button img {
        width: 90px;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .top-right-image {
        position: absolute;
        top: 7%;
        right: 7%;
        background-image: url(../img/new2.jpg);
        height: 359px;
        width: 255px;
        background-size: cover;
    }
    
    .image-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Anton', sans-serif;
    }
    
    .text-left {
        position: absolute;
        top: 40%;
        left: 0%;
        transform: translate(0, -50%);
        font-size: 60px;
        color: white;
        font-family: 'Anton', sans-serif;
        margin-left: 10%;
    }
    
    .bottom-left-button {
        position: absolute;
        bottom: 10%;
        left: 5%;
        background-color: #202020;
        padding: 20px;
        border: none;
        color: white;
    }
    
    .bottom-left-button:hover {
        
        background-color: white;
        color: black;
    }
    
    .bottom-right-button {
        position: absolute;
        bottom: 40px;
        right: 90px;
        background: none;
        padding: 20px;
        border: solid 1px white;
        border-radius: 30px;
        color: white;
    }
    
    .bottom-right-button:hover {
       
        border: solid 1px black;
        color: black;
    }
    
}