@font-face {
    font-family: 'Migra Extralight';
    src: url('caminho/para/o/arquivo/migra-extralight.woff2') format('woff2'),
        url('caminho/para/o/arquivo/migra-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif+NP+Hmong&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: linear-gradient(90deg, #ffe9e4, #929280);
    overflow-x: hidden;

}

header {
    display: flex;
    flex-direction: row;


}


header input {
    height: 4vh;
}

.logo {
    height: fit-content;
    margin: 5%;
    width: 75%;


}

input[type=text] {
    width: 45%;
    height: 33%;
    padding: 1vh 2vh;
    margin: 3.5%;
    box-sizing: border-box;
    position: relative;
    top: 4.5vh;
    left: 22vh;
}

.link_menu {
    display: flex;
    font-size: 3vh;
    flex-direction: row;
    margin-top: 5%;
}

.link_menu a {
    display: flex;
}




.button_loupe {
    display: flex;
    position: relative;
    left: 5vh;
    top: 6vh;
    margin-top: 7vh;
    width: 6%;
}

.button_shop {
    display: inline-block;
    margin-top: 6.5vh;
    width: 6vh;
    position: relative;
    left: 22vh;
    top: 5vh;

}



.button_user {
    display: flex;
    position: relative;
    right: 5vh;
    top: 5vh;
    margin-top: 7vh;
    width: 5vh;

}

.frasemotivac_text {
    text-align: center;
    color: white;
    font-size: 5vh;

}

.Author_frase {
    color: white;
    font-size: 3vh;
    position: relative;
    left: 60%;
}

.img_nanismo {
    display: flex;
    width: 30%;
    position: relative;
    top: 6vh;
    left: 6vh;
}

.img_mulheres {
    display: flex;
    width: 30%;
    position: relative;
    bottom: 90vh;
    left: 70vh;
}

.img_mulher_poderosa {
    display: flex;
    width: 30%;
    position: relative;
    bottom: 132.2vh;
    left: 133vh;
}

.tod_medidas_geral {
    display: flex;
    font-family: Agrandir;
    font-size: 123%;
    position: relative;
    left: 70vh;
    bottom: 190vh;
    background-color: black;
    width: 30%;
    height: 58vh;
    text-align: center;
    color: white;

}

.tod_medidas1 {
    display: flex;
    font-family: Agrandir;
    font-size: 123%;
    position: relative;
    left: 70vh;
    bottom: 190vh;
    background-color: black;
    width: 30%;
    height: 58vh;
    text-align: center;
    color: white;
}

.tod_medidas2 {
    display: flex;
    font-family: Migra ExtraLight;
    font-size: 120%;
    position: relative;
    left: 70vh;
    bottom: 234vh;
    width: 30%;
    height: 29vh;
    text-align: center;
    color: white;
}

.download_img {
    width: 10%;
    position: relative;
    bottom: 263vh;
    left: 51%;
    z-index: 2;
}

.download_blackground {
    background-image: linear-gradient(90deg, #ffe9e4, #5b5b4c);
    width: 14%;
    height: 58.3vh;
    position: relative;
    bottom: 299vh;
    left: 105vh;
    z-index: 1;
}


.background_carrosel {
    background: #2566AF;
    width: 33%;
    height: 15vh;
    position: relative;
    left: 35%;
    bottom: 30vh;
    text-align: center;
    font-family: 'Migra Extralight', sans-serif;
    font-size: 5vh;
    padding: 5vh;
    color: #E6A540;
    -webkit-text-stroke: 1px #a51d20;

}

footer {
    background: black;
    width: 100%;
    height: 100vh;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px auto 900px;
}

.grid-item:nth-child(1) {
    padding: 20px;
    position: relative;
    grid-column: 1 / span 1;
    /* Ocupa 1 coluna */
    font-size: 3vh;

}

.grid-item:nth-child(2) {
    padding: 20px;
    font-size: 3vh;
    text-align: center;



}

.grid-item:nth-child(3) {
    padding: 20px;
    font-size: 3vh;
    text-align: center;

}

.grid-item:nth-child(4) {
    padding: 20px;
    font-size: 3vh;
    position: relative;
    right: 25%;
    text-align: center;

}

.grid-item:nth-child(5) {
    padding: 20px;
    grid-column: 1 / span 10;
    font-size: 3vh;
}

.grid-item:nth-child(6) {
    padding: 20px;
    border-top: 2px solid white;
    width: 250vh;
    grid-column: 1 / span 10;
}

.grid-item:nth-child(7) {
    padding: 20px;
    grid-column: 1 / span 10;
    font-size: 3vh;

}

.grid-item:nth-child(8) {
    padding: 20px;
    position: relative;
    left: 195%;
    font-size: 3vh;
}

.grid-item:nth-child(9) {
    padding: 20px;
    position: relative;
    left: 195%;
    font-size: 3vh;
}



.footer_pag:nth-child(1) {
    width: 3%;
    margin: 2vh;

}

.footer_pag:nth-child(2) {
    width: 3%;
    margin: 2vh;


}

.footer_pag:nth-child(3) {
    width: 3%;
    margin: 2vh;

}

.footer_pag:nth-child(4) {
    width: 3%;
    margin: 2vh;

}

.footer_pag:nth-child(5) {
    width: 3%;
    margin: 2vh;

}

.footer_rede {
    width: 20%;
    margin: 6px;
    position: relative;
    top: 3vh;
}


.footer_text {
    margin: 20px;
}

.flex_pag {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    z-index: 3;
    background: white;
    border-radius: 10%;
    min-width: 200px;
    position: relative;
    top: 10vh;
    right: 2vh;
}

.dropdown-child a {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
    margin-top: 2vh;
    margin-left: 1vh;
    text-align: start;
    height: 8vh;

}

.dropdown:hover .dropdown-child {
    display: block;

}

.button_entrar {
    background: black;
    color: white;
    border-radius: 30%;
    width: 12vh;
    height: 7vh;
    position: relative;
    top: 1vh;
    left: 2vh;
    font-family: 'Roboto', sans-serif;
}


.seta_user {
    width: 12%;
    display: inline-block;
    position: relative;
    left: 23vh;
    bottom: 5vh;
}

.button_trian {
    width: 12%;
    position: relative;
    left: 23vh;
    top: 1vh;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-catalog {
    display: none;
    z-index: 3;
    background: white;
    width: 500%;
    border-radius: 10%;
    min-width: 200px;
    position: relative;
    top: 10vh;
    right: 57vh;
}

.dropdown-catalog a:hover {
    display: inline-block;
}

.dropdown-catalog a {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
    margin-top: 2vh;
    margin-left: 1vh;
    height: 8vh;
}

.dropdown-catalog a:hover {
    color: blue;
}

.dropdown1:hover .dropdown-catalog {
    display: block;
}

.text_catalog {
    display: inline-block;
}

.link_home {
    color: white;
    font-family: Agrandir Medium;
    text-decoration: none;
    margin: 2vh;
}


.link_home:hover {
    display: block;
}

.link_novid {
    color: white;
    font-family: Agrandir Medium;
    text-decoration: none;
    margin: 2vh;
}

.link_novid:hover {
    display: block;
}

.link_ajuda {
    color: white;
    font-family: Agrandir Medium;
    text-decoration: none;
    margin: 2vh;
}

.link_ajuda:hover {
    display: block;
}

.link_catalog {
    color: white;
    font-family: Agrandir Medium;
    text-decoration: none;
    margin: 2vh;
}

.link_catalog:hover {
    display: block;
}

.link_masc {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 20vh;
    margin-right: 9vh;
    margin-left: 9vh;
}

.link_unissex {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 20vh;
    margin-right: 9vh;
}

.link_femin {
    display: inline-block;
    text-align: center;
    margin-right: 9vh;
}

.link_calcado {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 50vh;
}

section {
    position: relative;

    height: 600px;
    width: 100%;
}

.center-img {
    background-image: url(/img/new1.jpg);
    width: 672px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0);
    background-position: center;
}

.image-container {
    text-align: center;
    position: relative;
    height: 600px;
}

.overlay-button {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 20px;
    width: 440px;
    height: 118px;
    right: 0;
    bottom: 10%;
    transform: translate(0, -50%);
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.overlay-button img {
    width: 90px;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0, -50%);
}

.top-right-image {
    position: absolute;
    top: 7%;
    right: 7%;
    background-image: url(/img/new2.jpg);
    height: 359px;
    width: 255px;
    background-size: cover;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Anton', sans-serif;
}

.text-left {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translate(0, -50%);
    font-size: 60px;
    color: white;
    font-family: 'Anton', sans-serif;
    margin-left: 10%;
}

.bottom-left-button {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: #202020;
    padding: 20px;
    border: none;
    color: white;
}

.bottom-right-button {
    position: absolute;
    bottom: 40px;
    right: 90px;
    background: none;
    padding: 20px;
    border: solid 1px white;
    border-radius: 30px;
    color: white;
}

nav a {
    color: white;
    font-family: Agrandir Medium;
    text-decoration: none;
    margin: 2vh;
}

nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 30%;
    position: relative;
    background: black;
    transition: width 0.7s ease 0s, left 0.6s ease 0s;
    width: 0;
}

nav a:hover:after {
    width: 20%;
    left: 40%;

}

.link_masc_user {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
    margin-top: 2vh;
    margin-left: 1vh;
    text-align: start;
    height: 8vh;
}

.link_masc_user:hover {
    background-color: black;
    color: white;
}

.link_femin_user {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
    margin-top: 2vh;
    margin-left: 1vh;
    text-align: start;
    height: 8vh;
}

.link_femin_user:hover {
    background-color: black;
    color: white;
}

.link_ofert_user {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
    margin-top: 2vh;
    margin-left: 1vh;
    text-align: start;
    height: 8vh;
}

.link_ofert_user:hover {
    background-color: black;
    color: white;
}

.carousel {
    position: relative;

    overflow: hidden;
    text-align: center;
    max-height: 30%;
}

.carousel-images img {
    max-width: 80%;
    height: 700px;
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.carousel-images img.active {
    display: block;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-prev {

    left: 10%;
    bottom: 42vh;
    transform: rotate(180deg);
}

.carousel-next {
    right: 10%;

}

.carousel-next img {

    max-width: 50%;
}

.carousel-prev img {

    max-width: 50%;
}




.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.carousel-dots .dot {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background-color: #A57042;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dots .dot.active {
    background-color: #202020;
}

.btn-generic-white {
    width: 300px;
    height: auto;
    font-size: 30px;
    background-color: white;
    border: none;
    margin: 20px;
    border-radius: 30px;
    color: black;
}

.link_sobrenos {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.link_sobrenos:hover {
    color: yellow;
    text-decoration: underline;
}

.carrinho {
    background-color: #D9D9D8;
  
    width: 95%;
    margin-left: 2.5%;
}

.cart-items {
    margin-left: 5%;
    width: 90%;
  
    display: flex;
    flex-direction: column;
    list-style: none;
}

.item {

    border: solid 2px #000000;
    position: relative;
    padding: 30px;
}


.item-img {
    float: left;
    height: 300px;
    width: 300px;
    position: relative;

}


.cart-content {
    width: 60%;
    float: right;
    text-align: center;

}

.t-icon {
    width: 30px;
}

.cart-input {
    width: 50px;
    font-size: 20px;
}

.item-price {
    font-size: 30px;
}

.btn-generic {
    width: 300px;
    height: auto;
    font-size: 30px;
    background-color: #0F171E;
    border: none;
    position: relative;
    left: 3vh;
    border-radius: 30px;
    color: white;
}

#bottom-a {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #D9D9D8;
    border: solid;
    height: 30%;
    align-items: center;
    text-decoration: none;

}
.inp-bot{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.item input[type=number] {
    border-radius: 30px;
    border: none;
}
.item input[type=radio]{
    width: 30px;
    height: 30px;
    margin: 2%;
    float: left; position: relative; top: 25vh; 
   
}


.item-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
 
}
.item-link{display: flex; align-content: flex-start; text-decoration: none; }

#totalcust{
    font-size: 30px;
    color: #a51d20;
    
}











